*
{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.bg{
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200vh;

}

.bg span{
    position: absolute;
    top:50%;
    left:50%;
    width: 4px;
    height: 4px;
    background: #8b8b8b;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255,255,255,0.1),0 0 0 8px rgba(255,255,255,0.1),0 0 20px rgba(255,255,255,0.1);
    animation: animate 3s linear infinite;
    z-index: -1;
}
.bg span::before{
    content:'';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 550px;
    height: 1px;
    background: linear-gradient(90deg,#a51cb8a9,transparent);
}
@keyframes animate
{
    0%
    {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }
    70%
    {
        opacity: 1;
    }
    100%
    {
        transform: rotate(315deg) translateX(-1400px);
        opacity: 0;
    }
}
.bg span:nth-child(1){
    top: -10px;
    right: 10px;
    left: initial;
    animation-delay: 0s;
    animation-duration: 1s;
}
.bg span:nth-child(2){
    top: -10px;
    right: 80px;
    left: initial;
    animation-delay: 0.2s;
    animation-duration: 3s;
}
.bg span:nth-child(3){
    top: 80;
    right: -10px;
    left: initial;
    animation-delay: 0.4s;
    animation-duration: 2s;
}
.bg span:nth-child(4){
    top: -10px;
    right: 180px;
    left: initial;
    animation-delay: 0.6s;
    animation-duration: 1.5s;
}
.bg span:nth-child(5){
    top: -10px;
    right: 350px;
    left: initial;
    animation-delay: 0.8s;
    animation-duration: 2.5s;
}
.bg span:nth-child(6){
    top: -10px;
    right: 750px;
    left: initial;
    animation-delay: 1s;
    animation-duration: 3s;
}
.bg span:nth-child(7){
    top: 320px;
    right: -15px;
    left: initial;
    animation-delay: 1.2s;
    animation-duration: 1.75s;
}
.bg span:nth-child(8){
    top: -10px;
    right: 900px;
    left: initial;
    animation-delay: 1.4s;
    animation-duration: 1.25s;
}
.bg span:nth-child(9){
    top: -10px;
    right: 1200px;
    left: initial;
    animation-delay: 0.75s;
    animation-duration: 2.25s;
}
.bg span:nth-child(10){
    top: -10px;
    right: 550px;
    left: initial;
    animation-delay: 2.75s;
    animation-duration: 2.75s;
}
